<!DOCTYPE html>
	<html lang="en">
		<head>
		  <title>Admin Order Page</title>

			<link rel="stylesheet" href="/css/admin.css" type="text/css" />
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >

			<script
				src="https://code.jquery.com/jquery-3.1.1.min.js"
				integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
				crossorigin="anonymous">
			</script>
		</head>

		<body>

			<%
			[ {foodId:1, foodText: ["Pesto Linguine","Penne with Chicken"]},
			  {foodId:2, foodText: "Lasagna"},
			  {foodId:3, foodText: "Garden Salad"}].forEach(function(item){ %>


					<div  class='container ready' name="newOrder">
						<div class="row">
							<div class='col-xs-12'>

								<!-- Insert order_id -->
					  		<h3 class= 'col-xs-12' id="orderID"><%= "Order ID: " + item.foodId %></h3>

								<div class='col-xs-12'>

									<!-- Insert the array of order_items -->
									<%["Pesto Linguine","Penne with Chicken"].forEach(function (el) { %>
									<li class='fooditem'><%= el %></li>
									<% }) %>

								</div>

								<button class="btn btn-danger ready confirm" >Order Ready</button>

							</div>
						</div>
					</div>
			<%  }); %>

			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

			<script type="text/javascript" src="./script.js"></script>
			<script type="text/javascript" src="/testfolder/adminBs	.js"></script>
		</body>
	</html>



















