<!DOCTYPE html>
<html>
  <head>
    <title>Food Order</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link href="css/agency.css" rel="stylesheet">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  </head>
  <body>

    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Luigi's</div>
                <!-- Button trigger modal -->
                <a href="#services" id="order-button" class="page-scroll btn btn-xl" data-toggle="modal" data-target="#myModal">Order/Pickup</a>

                <!-- <button id="singlebutton" name="singlebutton" class="btn btn-primary">Next Step!</button>  -->


                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                      </div>
                      <div class="modal-body">
                        <div class="clos-xs-6 text-center">
                          <ul class="row">
                              
                              <% [{foodId:1, foodText: "Pesto Linguine"},
                                  {foodId:2, foodText: "Penne with Chicken"},
                                  {foodId:3, foodText: "Lasagna"},
                                  {foodId:4, foodText: "Seafood Fettuccine Alfredo"},
                                  {foodId:5, foodText: "Manicotti"},
                                  {foodId:6, foodText: "Tortellini Pomodoro"},
                                  {foodId:7, foodText: "Seafood Lineguine Marinara"},
                                  {foodId:8, foodText: "Spicy Chorizo Penne"},
                                  {foodId:9, foodText: "Spaghetti with Meatballs"},
                                  {foodId:10, foodText: "Chicken Parmigiana"},
                                  {foodId:11, foodText: "Stuffed Eggplant"},
                                  {foodId:12, foodText: "Meatball Sub"},
                                  {foodId:13, foodText: "Margherita Pizza"},
                                  {foodId:14, foodText: "Pepperoni Pizza"},
                                  {foodId:15, foodText: "Garden Salad"}].forEach(function(item){ %>

                                  <input type="button" value="Add" class="foods1" data-food="<%= item.foodId %>" name="food"/>
                                  <span class="foodtext"><%= item.foodText %> </span>

                              <%  }); %>


                              
                            
                          </ul>
                        </div>
                        <div class="cartButtonContainer">
                        <button class="cartButton"> View Cart </button>
                        </div>
                        <div class="cart">
                        

                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" id="placeorder" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </header>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
    

      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <script type="text/javascript" src="./script.js"></script>
  </body>
</html>