<!DOCTYPE html>
<html>
  <head>
    <title>Food Order</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link href="css/agency.css" rel="stylesheet">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  </head>
  <body>

    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Luigi's</div>
                <!-- Button trigger modal -->
                <a href="#services" id="order-button" class="page-scroll btn btn-xl" data-toggle="modal" data-target="#myModal">Order/Pickup</a>

                <!-- <button id="singlebutton" name="singlebutton" class="btn btn-primary">Next Step!</button>  -->


                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                      </div>
                      <div class="modal-body">
                        <div class="clos-xs-6 text-center">
                          <div class = "row">
  

   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "http://i.imgur.com/5TbElFT.jpg" alt = "Pesto Linguine">
      </div>
      
      <div class = "caption">
         <h3>Pesto Linguine</h3>
            <a href = "#" class = "btn btn-danger " role = "button">
               Add to Order
            </a>
      </div>
   </div>

   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "http://i.imgur.com/Cm5wiZE.jpg" alt = "Penne">
      </div>
      
      <div class = "caption">
         <h3>Penne with Chicken</h3>
            <a href = "#" class = "btn btn-danger" role = "button">
               Add to Order
            </a>
      </div>
   </div>


   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "http://i.imgur.com/1BvPVgH.jpg" alt = "Lasagna">
      </div>
      
      <div class = "caption">
         <h3>Lasagna</h3>
           <a href = "#" class = "btn btn-danger" role = "button">
               Add to Order
            </a>
      </div>
   </div>


   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "http://i.imgur.com/mcCkSUT.jpg" alt = "Seafood Fettuccine">
      </div>
      
      <div class = "caption">
         <h3>Seafood Fettuccine</h3>
           <a href = "#" class = "btn btn-danger" role = "button">
               Add to Order
            </a>
      </div>
   </div>


   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "http://i.imgur.com/K6LesSJ.jpg" alt = "Manicotti">
      </div>
      
      <div class = "caption">
         <h3>Manicotti</h3>
            <a href = "#" class = "btn btn-danger" role = "button">
               Add to Order
            </a>
      </div>
   </div>


   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "http://i.imgur.com/sLMh1Zs.jpg" alt = "Tortellini">
      </div>
      
      <div class = "caption">
         <h3>Tortellini Pomodoro</h3>
            <a href = "#" class = "btn btn-danger" role = "button">
               Add to Order
            </a>
      </div>
   </div>


   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "http://i.imgur.com/nALvlTY.jpg" alt = "Seafood Linguine">
      </div>
      
      <div class = "caption">
         <h3>Seafood Linguine</h3>
            <a href = "#" class = "btn btn-danger" role = "button">
               Add to Order
            </a>
      </div>
   </div>


   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "http://i.imgur.com/zuX2lWB.jpg" alt = "Chorizo Penne">
      </div>
      
      <div class = "caption">
         <h3>Spicy Chorizo Penne</h3>
            <a href = "#" class = "btn btn-danger" role = "button">
               Add to Order
            </a>
      </div>
   </div>


   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "http://i.imgur.com/W3HA490.jpg" alt = "Spaghetti">
      </div>
      
      <div class = "caption">
         <h3>Spaghetti with Meatballs</h3>
            <a href = "#" class = "btn btn-danger" role = "button">
               Add to Order
            </a>
      </div>
   </div>


   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "http://i.imgur.com/ymUW0vx.jpg" alt = "Chicken Parmigiana">
      </div>
      
      <div class = "caption">
         <h3>Chicken Parmigiana</h3>
            <a href = "#" class = "btn btn-danger" role = "button">
               Add to Order
            </a>
      </div>
   </div>


   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "http://i.imgur.com/bvqURmI.jpg" alt = "Stuffed Eggplant">
      </div>
      
      <div class = "caption">
         <h3>Stuffed Eggplant</h3>
            <a href = "#" class = "btn btn-danger" role = "button">
               Add to Order
            </a>
      </div>
   </div>


   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "http://i.imgur.com/TK788Pm.jpg" alt = "Shrimp Scampi">
      </div>
      
      <div class = "caption">
         <h3>Shrimp Scampi</h3>
            <a href = "#" class = "btn btn-danger" role = "button">
               Add to Order
            </a>
      </div>
   </div>


   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "http://i.imgur.com/YB81xhm.jpg" alt = "Meatball Sub">
      </div>
      
      <div class = "caption">
         <h3>Meatball Sub</h3>
            <a href = "#" class = "btn btn-danger" role = "button">
               Add to Order
            </a>
      </div>
   </div>


   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "http://i.imgur.com/8gfX3rM.jpg" alt = "Marherita Pizza">
      </div>
      
      <div class = "caption">
         <h3>Margherita Pizza</h3>
            <a href = "#" class = "btn btn-danger" role = "button">
               Add to Order
            </a>
      </div>
   </div>


   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "http://i.imgur.com/tMKsfTb.jpg" alt = "Pepperoni Pizza">
      </div>
      
      <div class = "caption">
         <h3>Pepperoni Pizza</h3>
            <a href = "#" class = "btn btn-danger" role = "button">
               Add to Order
            </a>
      </div>
   </div>


   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "http://i.imgur.com/XkOlQAK.jpg" alt = "Capricciosa Pizza">
      </div>
      
      <div class = "caption">
         <h3>Capricciosa Pizza</h3>
            <a href = "#" class = "btn btn-danger" role = "button">
               Add to Order
            </a>
      </div>
   </div>


   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "http://i.imgur.com/aV0zy7z.jpg" alt = "Quattro Formaggi Pizza">
      </div>
      
      <div class = "caption">
         <h3>Quattro Formaggi Pizza</h3>
            <a href = "#" class = "btn btn-danger" role = "button">
               Add to Order
            </a>
      </div>
   </div>


   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "http://i.imgur.com/hemM50Z.jpg" alt = "Garden Salad">
      </div>
      
      <div class = "caption">
         <h3>Gardan Salad</h3>
            <a href = "#" class = "btn btn-danger" role = "button">
               Add to Order
            </a>
      </div>
   </div>


   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "http://i.imgur.com/SBzsIvo.jpg" alt = "caesar salad">
      </div>
      
      <div class = "caption">
         <h3>Caesar Salad</h3>
            <a href = "#" class = "btn btn-danger" role = "button">
               Add to Order
            </a>
      </div>
   </div>


   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "http://i.imgur.com/wD3ROvd.jpg" alt = "Garlic Bread">
      </div>
      
      <div class = "caption">
         <h3>Garlic Bread</h3>
            <a href = "#" class = "btn btn-danger" role = "button">
               Add to Order
            </a>
      </div>
   </div>


                        </div>

                        <br></br>
                        <div class="cartButtonContainer">
                        <button class="cartButton"> View Order </button>
                        </div>
                        <div class="cart">
                        

                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" id="placeorder" class="btn btn-primary">Place Order</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </header>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
    

      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <script type="text/javascript" src="./script.js"></script>
  </body>
</html>