

div.frame {
  background-color: #fff;
}

button.order {
	background-color: red;
}
body {
  background-image: url(../background.jpg);
  background-attachment: fixed;
  background-size:cover;
}
#addItem {
  text-decoration: none;
  color: #f2f2f2;
}
li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
  transition: 0.3s;
  font-size: 17px;
}
li a:hover {
  background-color: #555;
}
div.container {
  background-color: rgba(255, 255, 255, 0.78);
  border-radius: 25px 25px 25px 25px;
  border: 3px solid #313b40;
  width: 50%;
  height: 100%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 3em;
}
#adminNav {
  list-style-type: none;
  background-color: #333;
  position: absolute;
  top: 0px;
  left: 0px;
  border-bottom: 1px solid black;
  width: 100%;
  border-radius: 3px;
}
.fooditem {
  font-family: "Montserrat";
}
h4 {
  font-size:20px;
  color:black;
}

#orderDetails {
  text-align: center;
}

#orderID {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25px;
  color:black;
}

.fooditem {
  list-style: circle;
  font-family: Helvetica;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25px;
}


button.ready {
  background-color: green;
  border-radius: 10px;
  border-color: black;
  color: white;
  float: right;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 15px;
  text-transform: uppercase;
}


.confirm {
  background-color: red;
  margin-top: 1.5em;

}



